{
    "website": {
        "home_page": "http://www.forexmospherians.com/",
        "request_page": "main/comment/create",
        "signin_page": "main/authorization/doSignIn?target=http%3A%2F%2Fwww.forexmospherians.com%2F{}%2F{}",
        "pass_data": {
            "id": "6646392:BlogEntry:144118",
            "ParentCommentId": "",
            "count": 10,
            "g-recaptcha-response": ""
        },
        "login_credentials": {
            "xg_token": "",
            "emailAddress": "example@example.com,
            "password": "pass23"
        }
    },
    "oanda_api": {
        "token": "b18361b-example-token",
        "granularities": [
            "M15",
            "H3"
        ],
        "data_params": {
            "price": "M",
            "count": "370"
        },
        "pairs": [
            "EUR_USD",
            "GBP_USD",
            "USD_CHF",
            "AUD_USD",
            "NZD_USD",
            "USD_JPY",
            "USD_CAD",
            "USD_MXN",
            "EUR_CHF",
            "EUR_JPY",
            "EUR_AUD",
            "EUR_GBP",
            "EUR_CAD",
            "EUR_JPY",
            "EUR_NZD",
            "NZD_CAD",
            "AUD_CHF",
            "AUD_CAD",
            "GBP_AUD",
            "GBP_CHF",
            "GBP_CAD",
            "CHF_JPY",
            "CAD_CHF",
            "NZD_JPY"
        ]
    },
    "indicators": {
        "ma_length": "31"
    }
}
